<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="sq-signup mt30 mb30">
                    <div class="sq-signlogo text-center mb30">
                        <a href="#"><img src="assets/images/logo.jpg" alt="Snapquote Logo" class="img-responsive"></a>
                    </div>
                    <div class="sq-signfm">
                        <h3>Send your pic</h3>
                        <form>
                            <div class="form-group sq-fm-grp">
                                <div class="sq-upload">
                                    <input type='file' onchange="readURL(this);" accept="image/jpeg, image/png" id="sq-up-inpt" />
                                    <label for="sq-up-inpt">Upload Photo</label>
                                    <img id="sq-dis-img" src="#" alt="your image" class="img-responsive" style="display:none;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group sq-fm-grp">
                                        <input type="text" class="form-control sq-fm-inpt" placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group sq-fm-grp">
                                        <input type="text" class="form-control sq-fm-inpt" placeholder="Zip code">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group sq-fm-grp">
                                <input type="email" class="form-control sq-fm-inpt" placeholder="Email address">
                                <p class="sq-error">Enter Valid email address.</p>
                            </div>
                            <button type="submit" class="btn btn-default sq-btn-submit">Send</button>
                        </form>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>All rights reserved</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="mailto:info@snapquote.me" class="sq-mailto">info@snapquote.me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>