 <div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12" window-height>
      <div class="sq-land-logo mt30"><a href="#"><img src="assets/images/sq-logo.png" alt="Logo" class="img-responsive"></a></div>
      <div class="sq-land-cont text-center">
        <h1>One picture...<br/>
          <i>Many</i> Quotes!
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur<br/>
        adipisicing elit, sed do eiusmod tempor<br/>
        incididunt ut labore et </p>
        <button class="btn btn-default sq-btn-orange" ng-click="vm.gotoprospectPage()">Let's Do This!</button>
      </div>
    </div>
  </div>
</div>