<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="sq-signup mt30 mb30">
				<div class="sq-signlogo text-center mb30">
					<a href="#"><img src="assets/images/logo.jpg"
						alt="Snapquote Logo" class="img-responsive"></a>
				</div>
				<div class="sq-signfm">
					<h3>Connect about your quote</h3>
					<form novalidate name="contactForm">
						<div class="form-group sq-fm-grp">
							<input type="text" name="userContact"
								placeholder="Contact number"
								class="form-control sq-fm-inpt" >
						</div>
						<button type="submit" class="btn btn-default sq-btn-submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>